<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties" />

    <bean id="telegramContext" class="org.telegram.telegrambots.ApiContextInitializer" init-method="init"/>
    <bean id="telegramBotsApi" class="org.telegram.telegrambots.TelegramBotsApi"/>
    <bean id="eatRightBot" class="ru.cs.eatright.telegram.EatRightBot">
        <constructor-arg name="username" value="${eatRightBot.username}"/>
        <constructor-arg name="token" value="${eatRightBot.token}"/>
        <constructor-arg name="requestProcessor" ref="requestProcessor"/>
    </bean>

    <bean id="tokenizer" class="ru.cs.eatright.nlp.StopWordTokenizer"/>
    <bean id="requestProcessor" class="ru.cs.eatright.parsing.RequestProcessor">
        <constructor-arg name="tokenizer" ref="tokenizer"/>
        <constructor-arg name="pipeline" ref="pipeline"/>
    </bean>
    <bean id="chunker" class="ru.cs.eatright.nlp.Chunker"/>
    <bean id="stemmer" class="ru.cs.eatright.nlp.Stemmer"/>
    <bean id="pipeline" class="ru.cs.eatright.parsing.QueryPipeline">
        <constructor-arg name="chunker" ref="chunker"/>
        <constructor-arg name="stemmer" ref="stemmer"/>
    </bean>

</beans>